
body {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    background-image: url('calculadora.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(4px); 
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="number"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"]:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="button"]:active {
    background-color: #003d80;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);

    input[type="button"]:hover {
        background-color: #0056b3; 
    }
}
